body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.auth-header {
  background-color: #00703c;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
.header {
  background-color: #00703c;
  color: #ffffff;
  padding: 0.5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
} 
.header-left-col {
  justify-self: start;
}

.header-right-col {
  justify-self: end;
}
.header-button-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: .5rem;
  justify-content: end;
  justify-items: end;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url('../uncc.jpg');
  background-size: cover;
  background-position: center;
}

.auth-content {
  width: 350px;
}


.sign-out {
  display: flex;
  justify-content: flex-end;
  margin: auto;

}

.close {
  border-radius: var(--rounded-btn, 0.5rem);
  height: fit-content;
  font-size: .56rem;
}

.close:hover {
  background-color: darkred;
  color: white;
}

.send-button {
  border-radius: var(--rounded-btn, 0.5rem);
  height: fit-content;
  text-align: vertical-align;
  margin: auto;
  margin-left: 1rem;


}

.send-button:hover {
  background-color: #00703c;
  color: white;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}



/* .new-message-form input {
  width: 100%;
} */

.messagesCard {

  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 70%;
  height: 70%;
}

.auth-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-header {
  text-align: center;
  /*margin-bottom: 20px;*/
}

.card-header h2 {
  margin: 0;
  color: #333333;
}

.card-header p {
  margin: 0;
  color: #666666;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.separator {
  text-align: center;
  margin: 10px 0;
  color: #666666;
}

.card-footer {
  margin-top: 20px;
}

.card-footer p {
  font-size: 12px;
  text-align: center;
  color: #666666;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  /*margin-bottom: 10px; */
}

button:hover {
  background-color: #005395;
  color: #ffffff;
}

button:disabled {
  background-color: #cccccc;
  color: #999999;
}

/* Conversation List styling */
.room-card:hover {
  background-color: #f8f8f8;
}
.room-list {
  padding: .5rem 0 .5rem 0;
}
.content-container {
  overflow-y: auto;
  height: calc(100vh-64px);
  margin-top: 64px;
}
.room-card {
  padding: .625rem;
  margin: .5rem;
  border-radius: 0.5rem;
}
.room-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-header {
  text-align: center;
  background-color: #2d651d;
  color: white;
  width: 100%;
}

.app-container {
  margin-top: 50px;
}

.room {
  display: flex;
  flex-direction: column;
}

.room label {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.room input {
  width: 200px;
  height: 30px;
  border: 2px solid #2d651d;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}
.room button {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  background-color: #2d651d;
  color: white;
  cursor: pointer;
}

.sign-out {
  margin-top: 50px;
}

.chat-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #2d651d;
}
.header {
  background-color: #2d651d;
  color: white;
  width: 100%;
  text-align: center;
}
.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}


.user {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

.new-message-form {
  display: flex;
  width: 100%;
  padding: 10px;
}

.new-message-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #333;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.send-button {
  border: none;
  outline: none;
  background: #2d651d;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}*/