:root {
  --primary-color: #005035;
  --secondary-color: #A49665;
  --tertiary-color: #FFFFFF;
  --quaternary-color: #000;

}

.page-container {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {


  background-color: var(--tertiary-color);
  color: var(--primary-color);
  width: 100%;
  height: 100px;
  border-bottom: solid 2px #005035;
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title_div {
  align-self: center;
  font-size: var(--h4);
  text-align: center;


}




.auth-card {
  position: relative;
  margin-top: 9rem;
}

.logo_div {
  display: flex;
  flex-direction: row;
  position: fixed;

  left: 0;
  /* margin-bottom: 4rem; */
  font-size: var(--h5);
  justify-content: space-between;
}

.logo {
  height: 80px;
  width: auto;
  position: relative;
}

.app-container {
  position: relative;
  margin-top: 50px;
}

.room {
  display: flex;
  flex-direction: column;
}

.room label {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}


.room input {
  width: 200px;
  height: 30px;
  border: 2px solid #2d651d;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.room button {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 6px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  background-color: #2d651d;
  color: white;
  cursor: pointer;
}

.sign-out {
  margin-top: 50px;
}

.chat-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #2d651d;
}



.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}


.user {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

.new-message-form {
  display: flex;
  width: 100%;
  padding: 10px;
}

.new-message-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #333;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.send-button {
  border: none;
  outline: none;
  background: #2d651d;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}